.header{
    background-color: rgb(82, 82, 82);
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 20px;
    &__text{
        color: white;
        margin: 0px;
        font-size: 36px;
        text-align: center;
    }
}